*.iml
.idea
server/build
common/build
client/build
.gradle/
common/thrift/gen-java
server/dist
server/release
client/dist
client/release
common/dist
common/release
gradle
build
bin
dist
classes
build
release
.classpath
.project
.gradle
.settings
gradlew
gradlew.bat
